
<nav ng-controller="IndexCtrl" class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#/"><img src="img/dekhio.png" alt="Uvideo"></img></a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#/">Home</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Contact</a></li>
	      <li ng-class="dropdown">
	        <a href="#/" ng-click="toggle()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu">
	          
	          <li ng-repeat="item in options">
	          	<a ng-click="getYoutubeVideos(item.label)">{{item.label}}</a>
	          </li>
	        </ul>
	      </li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	       <form class="new-device" ng-submit="embedYoutube()" ng-model="newYoutubeForm">
	       	<li>
	       		<select class="btn btn-default" ng-model="Selected" 
                	ng-options="opt as opt.label for opt in options">
            	</select>
	       	</li>
	      	<li>
		        <input type="text" class="form-control" name="videoCode" placeholder="Youtube Id" ng-model="newYoutubeForm.videoCode">
		    </li>
		    <li>
		      	<input type="submit" value="Embed Video" class="btn btn-default">
		  	</li>
		  </form>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
