script(src='bower_components/jquery/jquery.js')
script(src='bower_components/underscore/underscore.js')
script(src='bower_components/angular/angular.js')
script(src='socket.io/socket.io.js')

script.
  var socket = io.connect('http://localhost:3000');

script(src='bower_components/angular-cookies/angular-cookies.js')
script(src='bower_components/angular-resource/angular-resource.js')
script(src='bower_components/angular-route/angular-route.js')
script(src='bower_components/angular-sanitize/angular-sanitize.js')

script(src='scripts/main.js')

script(src='scripts/controllers/index.js')
script(src='scripts/controllers/users.js')
script(src='scripts/controllers/signin.js')
