@import "../bower_components/bootstrap/dist/css/bootstrap.css";

body {
  background #fafafa;
}
.app-content {
  width: 960px;
  margin: 20px auto;
}
.new-user,
.api-key,
.signin {
  width: 460px;
  margin: 20px auto;
  padding: 10px;
}
.remove {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
}
.upload {
  width: 460px;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;

  -o-transition: -o-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;

  -webkit-transform: translate3d(0, 40px, 0);
  -o-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
.upload.show {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.video {
  margin: 0 0 20px;
}
.video.list-group-item {
  border-radius: 4px;
}
.comments {
  position: relative;
  float: right;
  width: 270px;
  height: 240px;
  padding: 10px;
  border: 1px solid #ddd;
}
video,
.comments {
  border-radius: 4px;
}
video {
  background: #000;
}
.new-comment {
  padding: 5px 0 0;
  border-top: 1px solid #ddd;
  margin: 5px 0 0;
  position: absolute;
  width: 248px;
  bottom: 10px;
}
.thread {
  position: relative;
  overflow-y: scroll;
  height: 125px;
}
.comment {
  border-top: 1px solid #ddd;
  padding: 0 2px;
  margin: 2px 0;
  border-radius: 2px;
}
.comment:first-child {
  border: none;
}
.scroll-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
