@import "../bower_components/bootstrap-stylus/stylus/bootstrap"

body
  background #fafafa

.app-content
  width 960px
  margin 20px auto

.new-user,
.api-key,
.signin
  width 460px
  margin 20px auto
  padding 10px

.remove
  display block
  cursor pointer
  position absolute
  right 7px
  top 5px
